<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Lista de tarefas</title>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/task_list.css')}}" />
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js')}}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/angular.min.js')}}" charset="utf-8"></script>
    {% block js %}
    {% endblock %}

</head>
<body {% block angularapp %}{% endblock %}>

	<section class="container">
        {% block content %}
        {% endblock %}
	</section>
	<footer>
        <div class="navbar-inverse navbar-fixed-bottom ">

                <div class="navbar-header">
                    <p class="navbar-text">Desenvolvido por Vilmar Schmelzer</p>

                </div>



        </div>
	</footer>
</body>
</html>
