<div class="well">
    <button ng-click="new()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Tarefa</button>

    <div class="modal fade" id="modal_task" tabindex="-1" role="dialog" aria-labelledby="modal_task_title" aria-hidden="true" data-dynamic="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <form method="POST" class="form-horizontal" ng-submit="save()">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal_task_title">Tarefa</h4>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" name="id" ng-model="task.id">
                        <div class="form-group">
                            <label class="control-label">Descrição</label>
                            <textarea class="form-control" name="task" ng-model="task.task" required></textarea>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Finalizada</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="done" ng-model="task.done" value="false">

                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>